In [3]:
import pandas as pd
import psycopg2

# Connect to your postgres DB
conn = psycopg2.connect(database="postgres", host="is-postgres-au-vic.postgres.database.azure.com", user="ds@is-postgres-au-vic", password='P":VQ:7yD?ha!r7"yWsmT15n7-RbT')

# Open a cursor to perform database operations
cur = conn.cursor()

In [6]:
target_df = pd.read_csv('naplan_all_year_only.csv', index_col='stu_uuid')
target_df = target_df.iloc[:,1:]
temp = target_df.index.tolist()

In [ ]:
query2 = """

select lin.*, qst.* 
from ds.mv_external_result_line as lin, ds.mv_external_results as ext, ds.mv_external_result_question as qst 
where lin.stu_uuid IN %(temp)s and lin.stu_uuid=ext.stu_uuid and 
lin.extr_uuid=ext.extr_uuid and ext.external_result_type_name='NAPLAN' and ext.assessment_component='Numeracy' and
qst.lerq_uuid=lin.lertq_uuid

"""

cur.execute(query2, { # You can pass a dict for named parameters rather than a tuple. Makes debugging hella easier.
    'temp': tuple(temp), # Converts the list to a tuple.
})

# Retrieve query results
records = cur.fetchall()

pd.DataFrame(records)

In [9]:
query2 = """
SELECT extr_uuid FROM ds.mv_external_results ext where ext.stu_uuid IN %(temp)s and ext.external_result_type_name='NAPLAN' and ext.assessment_component='Numeracy'
"""


cur.execute(query2, { # You can pass a dict for named parameters rather than a tuple. Makes debugging hella easier.
    'temp': tuple(temp), # Converts the list to a tuple.
})

# Retrieve query results
records = cur.fetchall()

test_ids = pd.DataFrame(records)

In [10]:
query3 = """
SELECT extr_uuid FROM ds.mv_external_results ext where ext.stu_uuid IN %(temp)s and ext.external_result_type_name='NAPLAN' and ext.assessment_component='Numeracy'
"""


cur.execute(query2, { # You can pass a dict for named parameters rather than a tuple. Makes debugging hella easier.
    'temp': tuple(temp), # Converts the list to a tuple.
})

# Retrieve query results
records = cur.fetchall()

test_ids = pd.DataFrame(records)

1424

In [26]:
clustered_target_df = pd.read_csv("clustered_target_df.csv")
question_details_df = pd.read_csv("question_details_df.csv")
# question_details_df["label"].value_counts()

In [29]:
cluster_no = 7
cluster_stuids = clustered_target_df[clustered_target_df["cluster_number"]==cluster_no]["stu_uuid"]

cluster_question_df = question_details_df[question_details_df['stu_uuid'].isin(cluster_stuids)]

In [30]:
cluster_question_df[["stu_uuid",]]

,erline_uuid,tnt_uuid,stu_uuid,extr_uuid,lertq_uuid,ext_id,result_numeric,result_text,response,is_correct,...,created_user,created_connector,updated,updated_user,updated_connector,_is_sql,attempted,presented,label,year_level
1,b1c6cd05-433a-96ba-d5f7-eb8c6bb5702a,6d27c189-cc31-4970-a6b2-49019ce66c3f,3ff46da7-4fb9-70dd-1e7a-03b9f74405a8,b1c59763-0d10-28c7-109a-565a013dad5c,a3185369-5d0b-ba34-75b7-e75619ed181f,2019-5|1774518|NUMERACY-02,NaN,NaN,NaN,True,...,NaN,9610618b-a23a-48d4-a7fb-04985df964ea,2022-03-04 05:58:25.395806+00:00,NaN,9610618b-a23a-48d4-a7fb-04985df964ea,NaN,True,True,STATISTICS AND PROBABILITY,5
2,b1c6cdaf-90bb-0ee6-ca69-d48a3c6d6f77,6d27c189-cc31-4970-a6b2-49019ce66c3f,3ff46da7-4fb9-70dd-1e7a-03b9f74405a8,b1c59763-0d10-28c7-109a-565a013dad5c,a318686e-dd8d-e2fd-3711-cf783cb03239,2019-5|1774518|NUMERACY-15,NaN,NaN,NaN,True,...,NaN,9610618b-a23a-48d4-a7fb-04985df964ea,2022-03-04 05:58:25.395806+00:00,NaN,9610618b-a23a-48d4-a7fb-04985df964ea,NaN,True,True,MEASUREMENT AND GEOMETRY,5
3,b1c6f043-1709-3a89-410c-199bfe8298da,6d27c189-cc31-4970-a6b2-49019ce66c3f,3ff46da7-4fb9-70dd-1e7a-03b9f74405a8,b1c59763-0d10-28c7-109a-565a013dad5c,a318756b-88b0-94ca-57a9-9e68716f94ba,2019-5|1774518|NUMERACY-16,NaN,NaN,NaN,True,...,NaN,9610618b-a23a-48d4-a7fb-04985df964ea,2022-03-04 05:58:25.395806+00:00,NaN,9610618b-a23a-48d4-a7fb-04985df964ea,NaN,True,True,MEASUREMENT AND GEOMETRY,5
4,b1c64201-7dba-5c26-fbb0-295272db59f8,6d27c189-cc31-4970-a6b2-49019ce66c3f,3ff46da7-4fb9-70dd-1e7a-03b9f74405a8,b1c59763-0d10-28c7-109a-565a013dad5c,a3185d1d-65fa-f58d-ae16-2394dd98066d,2019-5|1774518|NUMERACY-17,NaN,NaN,NaN,False,...,NaN,9610618b-a23a-48d4-a7fb-04985df964ea,2022-03-04 05:58:25.395806+00:00,NaN,9610618b-a23a-48d4-a7fb-04985df964ea,NaN,True,True,NUMBER AND ALGEBRA,5
5,b0dd71d3-3a09-8245-0717-1e38e93516f0,6d27c189-cc31-4970-a6b2-49019ce66c3f,3ff46da7-4fb9-70dd-1e7a-03b9f74405a8,b0dcafdf-4606-a909-596c-d9a7d585a640,d75ba1e7-6b0b-c39b-08e2-d699e94e0e5a,2021-7|1774518|NUMERACY_CALC-12,NaN,NaN,NaN,True,...,NaN,9610618b-a23a-48d4-a7fb-04985df964ea,2022-03-04 02:05:36.349769+00:00,NaN,9610618b-a23a-48d4-a7fb-04985df964ea,NaN,True,True,MEASUREMENT AND GEOMETRY,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35116,b0bb13f1-5d28-aca4-95d3-49daeaea9f1e,6d27c189-cc31-4970-a6b2-49019ce66c3f,3ff4ef13-9bd1-b207-8a0c-32b56f18435e,b0bbeb3f-5245-09bc-e5d8-9837ae753888,d75bfbb4-ffa3-c3ac-1ffc-ed5dea8433b8,2021-9|1598275|NUMERACY_CALC-18,NaN,NaN,NaN,True,...,NaN,9610618b-a23a-48d4-a7fb-04985df964ea,2022-03-04 01:31:52.438675+00:00,NaN,9610618b-a23a-48d4-a7fb-04985df964ea,NaN,True,True,NUMBER AND ALGEBRA,9
35119,b0bc8741-b0d8-85e6-1a3f-b801d1b45f24,6d27c189-cc31-4970-a6b2-49019ce66c3f,3ff48e35-31a5-e79c-59ee-217185c4f4b7,b0bbbb2c-fb2d-7a0a-320a-1e28b298e985,d75bfbb4-ffa3-c3ac-1ffc-ed5dea8433b8,2021-9|1598406|NUMERACY_CALC-18,NaN,NaN,NaN,True,...,NaN,9610618b-a23a-48d4-a7fb-04985df964ea,2022-03-04 01:32:09.595138+00:00,NaN,9610618b-a23a-48d4-a7fb-04985df964ea,NaN,True,True,NUMBER AND ALGEBRA,9
35123,b0bcff77-fa1a-0fa8-6d85-57e87faeff76,6d27c189-cc31-4970-a6b2-49019ce66c3f,3ff457af-3961-dc05-c60f-f03812521f56,b0bb38aa-51c7-ef22-4421-f55777cfd57a,d75bfbb4-ffa3-c3ac-1ffc-ed5dea8433b8,2021-9|1598418|NUMERACY_CALC-18,NaN,NaN,NaN,True,...,NaN,9610618b-a23a-48d4-a7fb-04985df964ea,2022-03-04 01:32:23.735946+00:00,NaN,9610618b-a23a-48d4-a7fb-04985df964ea,NaN,True,True,NUMBER AND ALGEBRA,9
35145,b0bc8e6c-d9f1-39c0-1fa5-0376ec80e58d,6d27c189-cc31-4970-a6b2-49019ce66c3f,3ff466c0-8d03-478b-f1d0-d903566d8551,b0bbf0c0-ed57-6efd-5b68-194e418ddf30,d75bfbb4-ffa3-c3ac-1ffc-ed5dea8433b8,2021-9|1598308|NUMERACY_CALC-18,NaN,NaN,NaN,True,...,NaN,9610618b-a23a-48d4-a7fb-04985df964ea,2022-03-04 01:32:27.767287+00:00,NaN,9610618b-a23a-48d4-a7fb-04985df964ea,NaN,True,True,NUMBER AND ALGEBRA,9
35169,b0bc876a-e3d1-fc6c-49ed-349f6d984836,6d27c189-cc31-4970-a6b2-49019ce66c3f,3ff4241d-5b45-17e3-794c-adbbe616c000,b0bbd3ff-b7ba-a66f-540c-eac3b3298541,d75bfbb4-ffa3-c3ac-1ffc-ed5dea8433b8,2021-9|1598426|NUMERACY_CALC-18,NaN,NaN,NaN,True,...,NaN,9610618b-a23a-48d4-a7fb-04985df964ea,2022-03-04 01:32:33.892275+00:00,NaN,9610618b-a23a-48d4-a7fb-04985df964ea,NaN,True,True,NUMBER AND ALGEBRA,9